--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.github.com/repos/nonexistent/nonexistent
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 404
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 404 Not Found
      x-ratelimit-remaining: 
      - "53"
      x-github-media-type: 
      - github.beta
      x-ratelimit-limit: 
      - "60"
    body: 
      encoding: ASCII-8BIT
      string: "{\"message\":\"Not Found\"}"
  recorded_at: Mon, 22 Oct 2012 08:51:32 GMT
- request: 
    method: get
    uri: https://api.github.com/repos/skateinmars/has_url
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-github-media-type: 
      - github.beta
      etag: 
      - "\"a6b92d120f7665c49e0803fdf8a0ffd2\""
      last-modified: 
      - Thu, 13 Sep 2012 23:13:23 GMT
      x-ratelimit-limit: 
      - "60"
      x-ratelimit-remaining: 
      - "52"
    body: 
      encoding: ASCII-8BIT
      string: "{\"watchers\":1,\"ssh_url\":\"git@github.com:skateinmars/has_url.git\",\"forks_count\":0,\"created_at\":\"2012-06-19T14:30:12Z\",\"url\":\"https://api.github.com/repos/skateinmars/has_url\",\"html_url\":\"https://github.com/skateinmars/has_url\",\"owner\":{\"url\":\"https://api.github.com/users/skateinmars\",\"avatar_url\":\"https://secure.gravatar.com/avatar/53d6845ee2656b1ef581523da50834b8?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"_links\":{\"self\":{\"href\":\"https://api.github.com/users/skateinmars\"}},\"id\":14015,\"gravatar_id\":\"53d6845ee2656b1ef581523da50834b8\",\"login\":\"skateinmars\"},\"network_count\":0,\"has_wiki\":true,\"description\":\"Validation on URL attributes for ActiveRecord models.\",\"master_branch\":\"master\",\"pushed_at\":\"2012-06-19T16:10:02Z\",\"has_issues\":true,\"_links\":{\"self\":{\"href\":\"https://api.github.com/repos/skateinmars/has_url\"}},\"forks\":0,\"git_url\":\"git://github.com/skateinmars/has_url.git\",\"clone_url\":\"https://github.com/skateinmars/has_url.git\",\"open_issues\":0,\"updated_at\":\"2012-09-13T23:13:23Z\",\"watchers_count\":1,\"size\":96,\"fork\":false,\"svn_url\":\"https://github.com/skateinmars/has_url\",\"language\":\"Ruby\",\"mirror_url\":null,\"open_issues_count\":0,\"full_name\":\"skateinmars/has_url\",\"name\":\"has_url\",\"has_downloads\":true,\"private\":false,\"id\":4714753,\"homepage\":null}"
  recorded_at: Mon, 22 Oct 2012 08:51:33 GMT
- request: 
    method: get
    uri: https://api.github.com/repos/skateinmars/has_url/contributors?anon=false
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      last-modified: 
      - Thu, 13 Sep 2012 23:13:23 GMT
      etag: 
      - "\"a6b92d120f7665c49e0803fdf8a0ffd2\""
      x-ratelimit-remaining: 
      - "51"
      x-github-media-type: 
      - github.beta
      x-ratelimit-limit: 
      - "60"
    body: 
      encoding: ASCII-8BIT
      string: "[{\"url\":\"https://api.github.com/users/skateinmars\",\"_links\":{\"self\":{\"href\":\"https://api.github.com/users/skateinmars\"}},\"avatar_url\":\"https://secure.gravatar.com/avatar/53d6845ee2656b1ef581523da50834b8?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"id\":14015,\"contributions\":7,\"gravatar_id\":\"53d6845ee2656b1ef581523da50834b8\",\"login\":\"skateinmars\"}]"
  recorded_at: Mon, 22 Oct 2012 08:51:34 GMT
- request: 
    method: get
    uri: https://api.github.com/users/skateinmars
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      etag: 
      - "\"396f16a31bda7939ce63d9b5891d6e0f\""
      last-modified: 
      - Sat, 20 Oct 2012 16:52:35 GMT
      x-ratelimit-remaining: 
      - "50"
      x-ratelimit-limit: 
      - "60"
      x-github-media-type: 
      - github.beta
    body: 
      encoding: ASCII-8BIT
      string: "{\"type\":\"User\",\"email\":\"jp@skateinmars.net\",\"avatar_url\":\"https://secure.gravatar.com/avatar/53d6845ee2656b1ef581523da50834b8?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"bio\":\"Ruby on Rails developper and Web Technician at Pickabee\",\"url\":\"https://api.github.com/users/skateinmars\",\"followers\":4,\"gravatar_id\":\"53d6845ee2656b1ef581523da50834b8\",\"company\":\"Pickabee\",\"public_repos\":8,\"html_url\":\"https://github.com/skateinmars\",\"_links\":{\"self\":{\"href\":\"https://api.github.com/users/skateinmars\"}},\"login\":\"skateinmars\",\"created_at\":\"2008-06-17T08:49:38Z\",\"name\":\"Jean-Philippe Moal\",\"public_gists\":8,\"following\":7,\"id\":14015,\"blog\":\"http://www.skateinmars.net\",\"location\":\"Marseille, France\",\"hireable\":true}"
  recorded_at: Mon, 22 Oct 2012 08:51:34 GMT
recorded_with: VCR 2.2.5
