--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.github.com/repos/nonexistent/nonexistent
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 404
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 404 Not Found
      x-github-media-type: 
      - github.beta
      x-ratelimit-limit: 
      - "5000"
      x-ratelimit-remaining: 
      - "4409"
    body: 
      encoding: ASCII-8BIT
      string: "{\"message\":\"Not Found\"}"
  recorded_at: Mon, 22 Oct 2012 15:11:45 GMT
- request: 
    method: get
    uri: https://api.github.com/repos/skateinmars/has_url
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-github-media-type: 
      - github.beta
      x-ratelimit-limit: 
      - "5000"
      etag: 
      - "\"a6b92d120f7665c49e0803fdf8a0ffd2\""
      last-modified: 
      - Thu, 13 Sep 2012 23:13:23 GMT
      x-ratelimit-remaining: 
      - "4408"
    body: 
      encoding: ASCII-8BIT
      string: "{\"watchers\":1,\"ssh_url\":\"git@github.com:skateinmars/has_url.git\",\"has_issues\":true,\"open_issues_count\":0,\"created_at\":\"2012-06-19T14:30:12Z\",\"has_wiki\":true,\"url\":\"https://api.github.com/repos/skateinmars/has_url\",\"owner\":{\"url\":\"https://api.github.com/users/skateinmars\",\"avatar_url\":\"https://secure.gravatar.com/avatar/53d6845ee2656b1ef581523da50834b8?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"_links\":{\"self\":{\"href\":\"https://api.github.com/users/skateinmars\"}},\"id\":14015,\"gravatar_id\":\"53d6845ee2656b1ef581523da50834b8\",\"login\":\"skateinmars\"},\"mirror_url\":null,\"description\":\"Validation on URL attributes for ActiveRecord models.\",\"pushed_at\":\"2012-06-19T16:10:02Z\",\"forks\":0,\"open_issues\":0,\"clone_url\":\"https://github.com/skateinmars/has_url.git\",\"updated_at\":\"2012-09-13T23:13:23Z\",\"forks_count\":0,\"git_url\":\"git://github.com/skateinmars/has_url.git\",\"svn_url\":\"https://github.com/skateinmars/has_url\",\"size\":96,\"fork\":false,\"network_count\":0,\"language\":\"Ruby\",\"has_downloads\":true,\"full_name\":\"skateinmars/has_url\",\"name\":\"has_url\",\"master_branch\":\"master\",\"watchers_count\":1,\"_links\":{\"self\":{\"href\":\"https://api.github.com/repos/skateinmars/has_url\"}},\"html_url\":\"https://github.com/skateinmars/has_url\",\"private\":false,\"id\":4714753,\"homepage\":null}"
  recorded_at: Mon, 22 Oct 2012 15:11:45 GMT
- request: 
    method: get
    uri: https://api.github.com/repos/skateinmars/has_url/contributors?anon=false
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-github-media-type: 
      - github.beta
      last-modified: 
      - Thu, 13 Sep 2012 23:13:23 GMT
      x-ratelimit-limit: 
      - "5000"
      etag: 
      - "\"a6b92d120f7665c49e0803fdf8a0ffd2\""
      x-ratelimit-remaining: 
      - "4407"
    body: 
      encoding: ASCII-8BIT
      string: "[{\"url\":\"https://api.github.com/users/skateinmars\",\"_links\":{\"self\":{\"href\":\"https://api.github.com/users/skateinmars\"}},\"avatar_url\":\"https://secure.gravatar.com/avatar/53d6845ee2656b1ef581523da50834b8?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"id\":14015,\"contributions\":7,\"gravatar_id\":\"53d6845ee2656b1ef581523da50834b8\",\"login\":\"skateinmars\"}]"
  recorded_at: Mon, 22 Oct 2012 15:11:46 GMT
- request: 
    method: get
    uri: https://api.github.com/users/skateinmars
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-ratelimit-remaining: 
      - "4406"
      x-ratelimit-limit: 
      - "5000"
      x-github-media-type: 
      - github.beta
      etag: 
      - "\"396f16a31bda7939ce63d9b5891d6e0f\""
      last-modified: 
      - Sat, 20 Oct 2012 16:52:35 GMT
    body: 
      encoding: ASCII-8BIT
      string: "{\"type\":\"User\",\"company\":\"Pickabee\",\"created_at\":\"2008-06-17T08:49:38Z\",\"url\":\"https://api.github.com/users/skateinmars\",\"avatar_url\":\"https://secure.gravatar.com/avatar/53d6845ee2656b1ef581523da50834b8?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"_links\":{\"self\":{\"href\":\"https://api.github.com/users/skateinmars\"}},\"blog\":\"http://www.skateinmars.net\",\"email\":\"jp@skateinmars.net\",\"public_gists\":8,\"following\":7,\"location\":\"Marseille, France\",\"name\":\"Jean-Philippe Moal\",\"hireable\":true,\"public_repos\":8,\"html_url\":\"https://github.com/skateinmars\",\"id\":14015,\"followers\":4,\"bio\":\"Ruby on Rails developper and Web Technician at Pickabee\",\"gravatar_id\":\"53d6845ee2656b1ef581523da50834b8\",\"login\":\"skateinmars\"}"
  recorded_at: Mon, 22 Oct 2012 15:11:47 GMT
[...]
