--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.github.com/repos/nonexistent/nonexistent
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 404
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 404 Not Found
      x-ratelimit-remaining: 
      - "38"
      x-ratelimit-limit: 
      - "60"
      x-github-media-type: 
      - github.beta
    body: 
      encoding: ASCII-8BIT
      string: "{\"message\":\"Not Found\"}"
  recorded_at: Sat, 20 Oct 2012 13:24:26 GMT
- request: 
    method: get
    uri: https://api.github.com/repos/rails/rails
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-ratelimit-remaining: 
      - "37"
      etag: 
      - "\"8ec4536a3a013d13b8bab215f16bb811\""
      x-ratelimit-limit: 
      - "60"
      x-github-media-type: 
      - github.beta
      last-modified: 
      - Sat, 20 Oct 2012 12:56:33 GMT
    body: 
      encoding: ASCII-8BIT
      string: "{\"watchers\":16302,\"ssh_url\":\"git@github.com:rails/rails.git\",\"created_at\":\"2008-04-11T02:19:47Z\",\"has_issues\":true,\"url\":\"https://api.github.com/repos/rails/rails\",\"owner\":{\"url\":\"https://api.github.com/users/rails\",\"_links\":{\"self\":{\"href\":\"https://api.github.com/users/rails\"}},\"id\":4223,\"gravatar_id\":\"30f39a09e233e8369dddf6feb4be0308\",\"avatar_url\":\"https://secure.gravatar.com/avatar/30f39a09e233e8369dddf6feb4be0308?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-org-420.png\",\"login\":\"rails\"},\"description\":\"Ruby on Rails\",\"pushed_at\":\"2012-10-20T01:27:45Z\",\"has_wiki\":false,\"forks\":4107,\"git_url\":\"git://github.com/rails/rails.git\",\"clone_url\":\"https://github.com/rails/rails.git\",\"forks_count\":4107,\"organization\":{\"url\":\"https://api.github.com/users/rails\",\"_links\":{\"self\":{\"href\":\"https://api.github.com/users/rails\"}},\"id\":4223,\"gravatar_id\":\"30f39a09e233e8369dddf6feb4be0308\",\"avatar_url\":\"https://secure.gravatar.com/avatar/30f39a09e233e8369dddf6feb4be0308?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-org-420.png\",\"login\":\"rails\"},\"network_count\":4107,\"open_issues\":396,\"updated_at\":\"2012-10-20T12:56:33Z\",\"watchers_count\":16302,\"svn_url\":\"https://github.com/rails/rails\",\"size\":88252,\"mirror_url\":null,\"fork\":false,\"language\":\"Ruby\",\"open_issues_count\":396,\"full_name\":\"rails/rails\",\"name\":\"rails\",\"_links\":{\"self\":{\"href\":\"https://api.github.com/repos/rails/rails\"}},\"html_url\":\"https://github.com/rails/rails\",\"private\":false,\"id\":8514,\"master_branch\":\"master\",\"homepage\":\"http://rubyonrails.org\",\"has_downloads\":true}"
  recorded_at: Sat, 20 Oct 2012 13:24:27 GMT
recorded_with: VCR 2.2.5
