--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.github.com/users/rails
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-ratelimit-remaining: 
      - "59"
      x-github-media-type: 
      - github.beta
      etag: 
      - "\"32b7f7d35c50793c333b18d33714588c\""
      last-modified: 
      - Tue, 16 Oct 2012 01:41:49 GMT
      x-ratelimit-limit: 
      - "60"
    body: 
      encoding: ASCII-8BIT
      string: "{\"public_repos\":61,\"type\":\"Organization\",\"company\":null,\"created_at\":\"2008-04-02T01:59:25Z\",\"url\":\"https://api.github.com/orgs/rails\",\"public_gists\":3,\"blog\":\"http://weblog.rubyonrails.org/\",\"email\":null,\"following\":0,\"location\":null,\"name\":null,\"html_url\":\"https://github.com/rails\",\"id\":4223,\"followers\":1966,\"avatar_url\":\"https://secure.gravatar.com/avatar/30f39a09e233e8369dddf6feb4be0308?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-org-420.png\",\"login\":\"rails\"}"
  recorded_at: Sat, 20 Oct 2012 17:55:26 GMT
- request: 
    method: get
    uri: https://api.github.com/users/thisuserdoesnotexist
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 404
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 404 Not Found
      x-github-media-type: 
      - github.beta
      x-ratelimit-remaining: 
      - "58"
      x-ratelimit-limit: 
      - "60"
    body: 
      encoding: ASCII-8BIT
      string: "{\"message\":\"Not Found\"}"
  recorded_at: Sat, 20 Oct 2012 17:55:27 GMT
- request: 
    method: get
    uri: https://api.github.com/repos/skateinmars/has_url/contributors?anon=false
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-ratelimit-limit: 
      - "60"
      x-github-media-type: 
      - github.beta
      etag: 
      - "\"a6b92d120f7665c49e0803fdf8a0ffd2\""
      last-modified: 
      - Thu, 13 Sep 2012 23:13:23 GMT
      x-ratelimit-remaining: 
      - "57"
    body: 
      encoding: ASCII-8BIT
      string: "[{\"_links\":{\"self\":{\"href\":\"https://api.github.com/users/skateinmars\"}},\"url\":\"https://api.github.com/users/skateinmars\",\"avatar_url\":\"https://secure.gravatar.com/avatar/53d6845ee2656b1ef581523da50834b8?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"id\":14015,\"contributions\":7,\"gravatar_id\":\"53d6845ee2656b1ef581523da50834b8\",\"login\":\"skateinmars\"}]"
  recorded_at: Sat, 20 Oct 2012 17:55:28 GMT
- request: 
    method: get
    uri: https://api.github.com/users/skateinmars
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-github-media-type: 
      - github.beta
      last-modified: 
      - Sat, 20 Oct 2012 16:52:35 GMT
      x-ratelimit-remaining: 
      - "56"
      x-ratelimit-limit: 
      - "60"
      etag: 
      - "\"396f16a31bda7939ce63d9b5891d6e0f\""
    body: 
      encoding: ASCII-8BIT
      string: "{\"type\":\"User\",\"email\":\"jp@skateinmars.net\",\"_links\":{\"self\":{\"href\":\"https://api.github.com/users/skateinmars\"}},\"url\":\"https://api.github.com/users/skateinmars\",\"avatar_url\":\"https://secure.gravatar.com/avatar/53d6845ee2656b1ef581523da50834b8?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"followers\":4,\"gravatar_id\":\"53d6845ee2656b1ef581523da50834b8\",\"public_repos\":8,\"public_gists\":8,\"company\":\"Pickabee\",\"html_url\":\"https://github.com/skateinmars\",\"login\":\"skateinmars\",\"created_at\":\"2008-06-17T08:49:38Z\",\"name\":\"Jean-Philippe Moal\",\"hireable\":true,\"following\":7,\"blog\":\"http://www.skateinmars.net\",\"id\":14015,\"location\":\"Marseille, France\",\"bio\":\"Ruby on Rails developper and Web Technician at Pickabee\"}"
  recorded_at: Sat, 20 Oct 2012 17:55:28 GMT
- request: 
    method: get
    uri: https://api.github.com/repos/rails/django/contributors?anon=false
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 404
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 404 Not Found
      x-ratelimit-limit: 
      - "60"
      x-github-media-type: 
      - github.beta
      x-ratelimit-remaining: 
      - "55"
    body: 
      encoding: ASCII-8BIT
      string: "{\"message\":\"Not Found\"}"
  recorded_at: Sat, 20 Oct 2012 17:55:29 GMT
- request: 
    method: get
    uri: https://api.github.com/repos/rails/rails
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      etag: 
      - "\"9274dbbea4a99a2010eafe44e961699f\""
      last-modified: 
      - Sat, 20 Oct 2012 16:03:04 GMT
      x-ratelimit-limit: 
      - "60"
      x-github-media-type: 
      - github.beta
      x-ratelimit-remaining: 
      - "54"
    body: 
      encoding: ASCII-8BIT
      string: "{\"watchers\":16304,\"ssh_url\":\"git@github.com:rails/rails.git\",\"master_branch\":\"master\",\"created_at\":\"2008-04-11T02:19:47Z\",\"url\":\"https://api.github.com/repos/rails/rails\",\"html_url\":\"https://github.com/rails/rails\",\"owner\":{\"url\":\"https://api.github.com/users/rails\",\"_links\":{\"self\":{\"href\":\"https://api.github.com/users/rails\"}},\"avatar_url\":\"https://secure.gravatar.com/avatar/30f39a09e233e8369dddf6feb4be0308?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-org-420.png\",\"id\":4223,\"gravatar_id\":\"30f39a09e233e8369dddf6feb4be0308\",\"login\":\"rails\"},\"description\":\"Ruby on Rails\",\"pushed_at\":\"2012-10-20T14:19:03Z\",\"has_downloads\":true,\"forks\":4108,\"clone_url\":\"https://github.com/rails/rails.git\",\"svn_url\":\"https://github.com/rails/rails\",\"organization\":{\"url\":\"https://api.github.com/users/rails\",\"_links\":{\"self\":{\"href\":\"https://api.github.com/users/rails\"}},\"avatar_url\":\"https://secure.gravatar.com/avatar/30f39a09e233e8369dddf6feb4be0308?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-org-420.png\",\"id\":4223,\"gravatar_id\":\"30f39a09e233e8369dddf6feb4be0308\",\"login\":\"rails\"},\"git_url\":\"git://github.com/rails/rails.git\",\"forks_count\":4108,\"updated_at\":\"2012-10-20T16:03:04Z\",\"has_issues\":true,\"_links\":{\"self\":{\"href\":\"https://api.github.com/repos/rails/rails\"}},\"network_count\":4108,\"size\":88356,\"watchers_count\":16304,\"has_wiki\":false,\"fork\":false,\"language\":\"Ruby\",\"full_name\":\"rails/rails\",\"name\":\"rails\",\"open_issues_count\":396,\"private\":false,\"id\":8514,\"open_issues\":396,\"homepage\":\"http://rubyonrails.org\",\"mirror_url\":null}"
  recorded_at: Sat, 20 Oct 2012 17:55:30 GMT
- request: 
    method: get
    uri: https://api.github.com/repos/rails/django
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 404
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 404 Not Found
      x-github-media-type: 
      - github.beta
      x-ratelimit-remaining: 
      - "53"
      x-ratelimit-limit: 
      - "60"
    body: 
      encoding: ASCII-8BIT
      string: "{\"message\":\"Not Found\"}"
  recorded_at: Sat, 20 Oct 2012 17:55:30 GMT
[...]
- request: 
    method: get
    uri: https://api.github.com/repos/rails/django
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 404
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 404 Not Found
      x-ratelimit-remaining: 
      - "51"
      x-github-media-type: 
      - github.beta
      x-ratelimit-limit: 
      - "60"
    body: 
      encoding: ASCII-8BIT
      string: "{\"message\":\"Not Found\"}"
  recorded_at: Sat, 20 Oct 2012 17:55:32 GMT
recorded_with: VCR 2.2.5
