--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.github.com/users/rails
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-ratelimit-remaining: 
      - "59"
      x-github-media-type: 
      - github.beta
      etag: 
      - "\"32b7f7d35c50793c333b18d33714588c\""
      last-modified: 
      - Tue, 16 Oct 2012 01:41:49 GMT
      x-ratelimit-limit: 
      - "60"
    body: 
      encoding: ASCII-8BIT
      string: "{\"public_repos\":61,\"type\":\"Organization\",\"company\":null,\"created_at\":\"2008-04-02T01:59:25Z\",\"url\":\"https://api.github.com/orgs/rails\",\"public_gists\":3,\"blog\":\"http://weblog.rubyonrails.org/\",\"email\":null,\"following\":0,\"location\":null,\"name\":null,\"html_url\":\"https://github.com/rails\",\"id\":4223,\"followers\":1966,\"avatar_url\":\"https://secure.gravatar.com/avatar/30f39a09e233e8369dddf6feb4be0308?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-org-420.png\",\"login\":\"rails\"}"
  recorded_at: Sat, 20 Oct 2012 17:55:26 GMT
- request: 
    method: get
    uri: https://api.github.com/users/thisuserdoesnotexist
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 404
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 404 Not Found
      x-github-media-type: 
      - github.beta
      x-ratelimit-remaining: 
      - "58"
      x-ratelimit-limit: 
      - "60"
    body: 
      encoding: ASCII-8BIT
      string: "{\"message\":\"Not Found\"}"
  recorded_at: Sat, 20 Oct 2012 17:55:27 GMT
- request: 
    method: get
    uri: https://api.github.com/repos/skateinmars/has_url/contributors?anon=false
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-ratelimit-limit: 
      - "60"
      x-github-media-type: 
      - github.beta
      etag: 
      - "\"a6b92d120f7665c49e0803fdf8a0ffd2\""
      last-modified: 
      - Thu, 13 Sep 2012 23:13:23 GMT
      x-ratelimit-remaining: 
      - "57"
    body: 
      encoding: ASCII-8BIT
      string: "[{\"_links\":{\"self\":{\"href\":\"https://api.github.com/users/skateinmars\"}},\"url\":\"https://api.github.com/users/skateinmars\",\"avatar_url\":\"https://secure.gravatar.com/avatar/53d6845ee2656b1ef581523da50834b8?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"id\":14015,\"contributions\":7,\"gravatar_id\":\"53d6845ee2656b1ef581523da50834b8\",\"login\":\"skateinmars\"}]"
  recorded_at: Sat, 20 Oct 2012 17:55:28 GMT
- request: 
    method: get
    uri: https://api.github.com/users/skateinmars
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-github-media-type: 
      - github.beta
      last-modified: 
      - Sat, 20 Oct 2012 16:52:35 GMT
      x-ratelimit-remaining: 
      - "56"
      x-ratelimit-limit: 
      - "60"
      etag: 
      - "\"396f16a31bda7939ce63d9b5891d6e0f\""
    body: 
      encoding: ASCII-8BIT
      string: "{\"type\":\"User\",\"email\":\"jp@skateinmars.net\",\"_links\":{\"self\":{\"href\":\"https://api.github.com/users/skateinmars\"}},\"url\":\"https://api.github.com/users/skateinmars\",\"avatar_url\":\"https://secure.gravatar.com/avatar/53d6845ee2656b1ef581523da50834b8?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"followers\":4,\"gravatar_id\":\"53d6845ee2656b1ef581523da50834b8\",\"public_repos\":8,\"public_gists\":8,\"company\":\"Pickabee\",\"html_url\":\"https://github.com/skateinmars\",\"login\":\"skateinmars\",\"created_at\":\"2008-06-17T08:49:38Z\",\"name\":\"Jean-Philippe Moal\",\"hireable\":true,\"following\":7,\"blog\":\"http://www.skateinmars.net\",\"id\":14015,\"location\":\"Marseille, France\",\"bio\":\"Ruby on Rails developper and Web Technician at Pickabee\"}"
  recorded_at: Sat, 20 Oct 2012 17:55:28 GMT
- request: 
    method: get
    uri: https://api.github.com/repos/rails/django/contributors?anon=false
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 404
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 404 Not Found
      x-ratelimit-limit: 
      - "60"
      x-github-media-type: 
      - github.beta
      x-ratelimit-remaining: 
      - "55"
    body: 
      encoding: ASCII-8BIT
      string: "{\"message\":\"Not Found\"}"
  recorded_at: Sat, 20 Oct 2012 17:55:29 GMT
- request: 
    method: get
    uri: https://api.github.com/repos/rails/rails
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      etag: 
      - "\"9274dbbea4a99a2010eafe44e961699f\""
      last-modified: 
      - Sat, 20 Oct 2012 16:03:04 GMT
      x-ratelimit-limit: 
      - "60"
      x-github-media-type: 
      - github.beta
      x-ratelimit-remaining: 
      - "54"
    body: 
      encoding: ASCII-8BIT
      string: "{\"watchers\":16304,\"ssh_url\":\"git@github.com:rails/rails.git\",\"master_branch\":\"master\",\"created_at\":\"2008-04-11T02:19:47Z\",\"url\":\"https://api.github.com/repos/rails/rails\",\"html_url\":\"https://github.com/rails/rails\",\"owner\":{\"url\":\"https://api.github.com/users/rails\",\"_links\":{\"self\":{\"href\":\"https://api.github.com/users/rails\"}},\"avatar_url\":\"https://secure.gravatar.com/avatar/30f39a09e233e8369dddf6feb4be0308?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-org-420.png\",\"id\":4223,\"gravatar_id\":\"30f39a09e233e8369dddf6feb4be0308\",\"login\":\"rails\"},\"description\":\"Ruby on Rails\",\"pushed_at\":\"2012-10-20T14:19:03Z\",\"has_downloads\":true,\"forks\":4108,\"clone_url\":\"https://github.com/rails/rails.git\",\"svn_url\":\"https://github.com/rails/rails\",\"organization\":{\"url\":\"https://api.github.com/users/rails\",\"_links\":{\"self\":{\"href\":\"https://api.github.com/users/rails\"}},\"avatar_url\":\"https://secure.gravatar.com/avatar/30f39a09e233e8369dddf6feb4be0308?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-org-420.png\",\"id\":4223,\"gravatar_id\":\"30f39a09e233e8369dddf6feb4be0308\",\"login\":\"rails\"},\"git_url\":\"git://github.com/rails/rails.git\",\"forks_count\":4108,\"updated_at\":\"2012-10-20T16:03:04Z\",\"has_issues\":true,\"_links\":{\"self\":{\"href\":\"https://api.github.com/repos/rails/rails\"}},\"network_count\":4108,\"size\":88356,\"watchers_count\":16304,\"has_wiki\":false,\"fork\":false,\"language\":\"Ruby\",\"full_name\":\"rails/rails\",\"name\":\"rails\",\"open_issues_count\":396,\"private\":false,\"id\":8514,\"open_issues\":396,\"homepage\":\"http://rubyonrails.org\",\"mirror_url\":null}"
  recorded_at: Sat, 20 Oct 2012 17:55:30 GMT
- request: 
    method: get
    uri: https://api.github.com/repos/rails/django
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 404
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 404 Not Found
      x-github-media-type: 
      - github.beta
      x-ratelimit-remaining: 
      - "53"
      x-ratelimit-limit: 
      - "60"
    body: 
      encoding: ASCII-8BIT
      string: "{\"message\":\"Not Found\"}"
  recorded_at: Sat, 20 Oct 2012 17:55:30 GMT
[...]
- request: 
    method: get
    uri: https://api.github.com/repos/skateinmars/has_url/issues
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-github-media-type: 
      - github.beta
      etag: 
      - "\"d751713988987e9331980363e24189ce\""
      x-ratelimit-limit: 
      - "5000"
      x-ratelimit-remaining: 
      - "3362"
    body: 
      encoding: US-ASCII
      string: "[]"
  recorded_at: Tue, 23 Oct 2012 09:05:59 GMT
- request: 
    method: get
    uri: https://api.github.com/repos/iain/translatable_columns/issues
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      last-modified: 
      - Tue, 16 Oct 2012 02:03:43 GMT
      x-github-media-type: 
      - github.beta
      x-ratelimit-remaining: 
      - "3361"
      x-ratelimit-limit: 
      - "5000"
      etag: 
      - "\"71e64d05c5761060ef39eb76a37e6d1d\""
    body: 
      encoding: ASCII-8BIT
      string: "[{\"created_at\":\"2011-08-08T14:11:48Z\",\"comments\":3,\"title\":\"Why do you think this solution is outdated?\",\"closed_at\":null,\"assignee\":null,\"number\":2,\"updated_at\":\"2012-03-16T13:36:09Z\",\"milestone\":null,\"state\":\"open\",\"html_url\":\"https://github.com/iain/translatable_columns/issues/2\",\"labels\":[],\"id\":1365419,\"url\":\"https://api.github.com/repos/iain/translatable_columns/issues/2\",\"body\":\"Hello,\\r\\n\\r\\non your blog where you introduce translateable_columns, you also mention that you think this solution is outdated.\\r\\nI am in the process of internationalizing a Rails 3 application where about 50 tables contain translatable columns, and I like your solution a lot, better than Globalize3's solution of creating a second table for each translatable table.\\r\\n\\r\\nWhat alternatives are there to your solution? Does this not work in Rails 3 any more?\\r\\n\\r\\nThanks,\\r\\nJens\",\"pull_request\":{\"patch_url\":null,\"diff_url\":null,\"html_url\":null},\"user\":{\"gravatar_id\":\"0b3da810e976e4328294cf9a41b39639\",\"avatar_url\":\"https://secure.gravatar.com/avatar/0b3da810e976e4328294cf9a41b39639?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"url\":\"https://api.github.com/users/jensb\",\"id\":44540,\"login\":\"jensb\",\"_links\":{\"self\":{\"href\":\"https://api.github.com/users/jensb\"}}}},{\"created_at\":\"2010-10-14T21:59:58Z\",\"comments\":2,\"title\":\"error with validate_translation_of\",\"closed_at\":null,\"assignee\":null,\"number\":1,\"updated_at\":\"2010-10-18T20:02:33Z\",\"milestone\":null,\"state\":\"open\",\"html_url\":\"https://github.com/iain/translatable_columns/issues/1\",\"labels\":[],\"id\":363146,\"url\":\"https://api.github.com/repos/iain/translatable_columns/issues/1\",\"body\":\"When I'm trying to use the above I get an exception: \\r\\n\\r\\n irb(main):005:0> f=Faculty.first\\r\\nNoMethodError: undefined method `validation_method' for #<Class:0xb70b12d0>\\r\\n        from /usr/lib/ruby/gems/1.8/gems/activerecord-3.0.0/lib/active_record/base.rb:1016:in `method_missing_without_paginate'\\r\\n        from /usr/lib/ruby/gems/1.8/gems/will_paginate-2.3.15/lib/will_paginate/finder.rb:170:in `method_missing'\\r\\n        from /home/warden/rails_apps/pirate/vendor/plugins/translatable_columns/lib/translatable_columns.rb:141:in `validates_translation_of'\\r\\n        from /home/warden/rails_apps/pirate/app/models/faculty.rb:5\\r\\n        from /usr/lib/[...]
- request: 
    method: get
    uri: https://api.github.com/repos/iain/roundsman/issues
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-github-media-type: 
      - github.beta
      last-modified: 
      - Tue, 16 Oct 2012 05:24:32 GMT
      etag: 
      - "\"a1a821629ba3e505e17989c3c2b65c63\""
      x-rat[...]
- request: 
    method: get
    uri: https://api.github.com/users/vjpr
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      etag: 
      - "\"928927a24f23f89180d1a4c880d12e8a\""
      x-ratelimit-limit: 
      - "5000"
      x-ratelimit-remaining: 
      - "3359"
      last-modified: 
      - Tue, 16 Oct 2012 04:07:38 GMT
      x-github-media-type: 
      - github.beta
    body: 
      encoding: ASCII-8BIT
      string: "{\"created_at\":\"2010-05-19T14:12:00Z\",\"type\":\"User\",\"gravatar_id\":\"de54fa84f07f7200da5a1eb090ec717a\",\"avatar_url\":\"https://secure.gravatar.com/avatar/de54fa84f07f7200da5a1eb090ec717a?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"public_repos\":36,\"company\":null,\"email\":null,\"_links\":{\"self\":{\"href\":\"https://api.github.com/users/vjpr\"}},\"html_url\":\"https://github.com/vjpr\",\"public_gists\":2,\"following\":12,\"location\":\"Sydney, Australia\",\"name\":\"Vaughan Rouesnel\",\"hireable\":false,\"followers\":3,\"url\":\"https://api.github.com/users/vjpr\",\"id\":281413,\"login\":\"vjpr\",\"blog\":\"http://vaughan.io\",\"bio\":\"Google Software Engineering Intern 2010-11\\r\\n\\r\\nMacquarie Bank Software Engineering Intern 2009-10\\r\\n\"}"
  recorded_at: Tue, 23 Oct 2012 09:06:01 GMT
- request: 
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Sydney%2C+Australia&sensor=false
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=UTF-8
    body: 
      encoding: US-ASCII
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Sydney",
                       "short_name" : "Sydney",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "New South Wales",
                       "short_name" : "NSW",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Australia",
                       "short_name" : "AU",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Sydney NSW, Australia",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : -33.42459810,
                          "lng" : 151.34263610
                       },
                       "southwest" : {
                          "lat" : -34.16924890,
                          "lng" : 150.5022290
                       }
                    },
                    "location" : {
                       "lat" : -33.86748690,
                       "lng" : 151.20699020
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : -33.42459810,
                          "lng" : 151.34263610
                       },
                       "southwest" : {
                          "lat" : -34.16924890,
                          "lng" : 150.5022290
                       }
                    }
                 },
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }

  recorded_at: Tue, 23 Oct 2012 09:06:01 GMT
[...]
- request: 
    method: get
    uri: https://api.github.com/users/maxim
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-ratelimit-remaining: 
      - "3352"
      x-ratelimit-limit: 
      - "5000"
      x-github-media-type: 
      - github.beta
      last-modified: 
      - Tue, 16 Oct 2012 05:24:32 GMT
      etag: 
      - "\"a1a821629ba3e505e17989c3c2b65c63\""
    body: 
      encoding: ASCII-8BIT
      string: "{\"public_gists\":72,\"created_at\":\"2008-04-17T23:18:06Z\",\"type\":\"User\",\"blog\":\"http://mediumexposure.com\",\"_links\":{\"self\":{\"href\":\"https://api.github.com/users/maxim\"}},\"gravatar_id\":\"1e1640f82b3167301a893b6873347de3\",\"company\":\"Bitsonnet Corp.\",\"email\":\"max@bitsonnet.com\",\"avatar_url\":\"https://secure.gravatar.com/avatar/1e1640f82b3167301a893b6873347de3?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"hireable\":true,\"following\":25,\"location\":\"New York City, NY\",\"bio\":\"\",\"html_url\":\"https://github.com/maxim\",\"name\":\"Maxim Chernyak aka hakunin\",\"followers\":30,\"url\":\"https://api.github.com/users/maxim\",\"id\":7758,\"login\":\"maxim\",\"public_repos\":48}"
  recorded_at: Tue, 23 Oct 2012 09:08:19 GMT
- request: 
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=New+York+City%2C+NY&sensor=false
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=UTF-8
    body: 
      encoding: US-ASCII
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
   [...]
