--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.github.com/repos/rails/rails
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      last-modified: 
      - Sat, 20 Oct 2012 12:56:33 GMT
      x-ratelimit-remaining: 
      - "49"
      etag: 
      - "\"8ec4536a3a013d13b8bab215f16bb811\""
      x-github-media-type: 
      - github.beta
      x-ratelimit-limit: 
      - "60"
    body: 
      encoding: ASCII-8BIT
      string: "{\"watchers\":16302,\"ssh_url\":\"git@github.com:rails/rails.git\",\"watchers_count\":16302,\"has_issues\":true,\"_links\":{\"self\":{\"href\":\"https://api.github.com/repos/rails/rails\"}},\"created_at\":\"2008-04-11T02:19:47Z\",\"has_wiki\":false,\"url\":\"https://api.github.com/repos/rails/rails\",\"owner\":{\"_links\":{\"self\":{\"href\":\"https://api.github.com/users/rails\"}},\"url\":\"https://api.github.com/users/rails\",\"avatar_url\":\"https://secure.gravatar.com/avatar/30f39a09e233e8369dddf6feb4be0308?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-org-420.png\",\"id\":4223,\"gravatar_id\":\"30f39a09e233e8369dddf6feb4be0308\",\"login\":\"rails\"},\"mirror_url\":null,\"open_issues_count\":396,\"description\":\"Ruby on Rails\",\"pushed_at\":\"2012-10-20T01:27:45Z\",\"forks\":4107,\"open_issues\":396,\"clone_url\":\"https://github.com/rails/rails.git\",\"organization\":{\"_links\":{\"self\":{\"href\":\"https://api.github.com/users/rails\"}},\"url\":\"https://api.github.com/users/rails\",\"avatar_url\":\"https://secure.gravatar.com/avatar/30f39a09e233e8369dddf6feb4be0308?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-org-420.png\",\"id\":4223,\"gravatar_id\":\"30f39a09e233e8369dddf6feb4be0308\",\"login\":\"rails\"},\"updated_at\":\"2012-10-20T12:56:33Z\",\"forks_count\":4107,\"svn_url\":\"https://github.com/rails/rails\",\"size\":88252,\"fork\":false,\"network_count\":4107,\"language\":\"Ruby\",\"has_downloads\":true,\"full_name\":\"rails/rails\",\"name\":\"rails\",\"master_branch\":\"master\",\"git_url\":\"git://github.com/rails/rails.git\",\"html_url\":\"https://github.com/rails/rails\",\"private\":false,\"id\":8514,\"homepage\":\"http://rubyonrails.org\"}"
  recorded_at: Sat, 20 Oct 2012 13:11:33 GMT
- request: 
    method: get
    uri: https://api.github.com/repos/rails/django
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 404
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 404 Not Found
      x-ratelimit-remaining: 
      - "48"
      x-ratelimit-limit: 
      - "60"
      x-github-media-type: 
      - github.beta
    body: 
      encoding: ASCII-8BIT
      string: "{\"message\":\"Not Found\"}"
  recorded_at: Sat, 20 Oct 2012 13:11:33 GMT
- request: 
    method: get
    uri: https://api.github.com/users/rails
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      last-modified: 
      - Tue, 16 Oct 2012 01:41:49 GMT
      x-ratelimit-remaining: 
      - "47"
      x-github-media-type: 
      - github.beta
      etag: 
      - "\"32b7f7d35c50793c333b18d33714588c\""
      x-ratelimit-limit: 
      - "60"
    body: 
      encoding: ASCII-8BIT
      string: "{\"type\":\"Organization\",\"company\":null,\"public_repos\":61,\"created_at\":\"2008-04-02T01:59:25Z\",\"url\":\"https://api.github.com/orgs/rails\",\"email\":null,\"blog\":\"http://weblog.rubyonrails.org/\",\"following\":0,\"location\":null,\"name\":null,\"avatar_url\":\"https://secure.gravatar.com/avatar/30f39a09e233e8369dddf6feb4be0308?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-org-420.png\",\"public_gists\":3,\"html_url\":\"https://github.com/rails\",\"id\":4223,\"followers\":1966,\"login\":\"rails\"}"
  recorded_at: Sat, 20 Oct 2012 13:11:34 GMT
- request: 
    method: get
    uri: https://api.github.com/users/thisuserdoesnotexist
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 404
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 404 Not Found
      x-ratelimit-remaining: 
      - "46"
      x-ratelimit-limit: 
      - "60"
      x-github-media-type: 
      - github.beta
    body: 
      encoding: ASCII-8BIT
      string: "{\"message\":\"Not Found\"}"
  recorded_at: Sat, 20 Oct 2012 13:11:35 GMT
[...]
- request: 
    method: get
    uri: https://api.github.com/repos/rails/django
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 404
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 404 Not Found
      x-ratelimit-remaining: 
      - "44"
      x-ratelimit-limit: 
      - "60"
      x-github-media-type: 
      - github.beta
    body: 
      encoding: ASCII-8BIT
      string: "{\"message\":\"Not Found\"}"
  recorded_at: Sat, 20 Oct 2012 13:13:05 GMT
recorded_with: VCR 2.2.5
