--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.github.com/repos/skateinmars/has_url
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-github-media-type: 
      - github.beta
      x-ratelimit-limit: 
      - "5000"
      etag: 
      - "\"a6b92d120f7665c49e0803fdf8a0ffd2\""
      last-modified: 
      - Thu, 13 Sep 2012 23:13:23 GMT
      x-ratelimit-remaining: 
      - "4408"
    body: 
      encoding: ASCII-8BIT
      string: "{\"watchers\":1,\"ssh_url\":\"git@github.com:skateinmars/has_url.git\",\"has_issues\":true,\"open_issues_count\":0,\"created_at\":\"2012-06-19T14:30:12Z\",\"has_wiki\":true,\"url\":\"https://api.github.com/repos/skateinmars/has_url\",\"owner\":{\"url\":\"https://api.github.com/users/skateinmars\",\"avatar_url\":\"https://secure.gravatar.com/avatar/53d6845ee2656b1ef581523da50834b8?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"_links\":{\"self\":{\"href\":\"https://api.github.com/users/skateinmars\"}},\"id\":14015,\"gravatar_id\":\"53d6845ee2656b1ef581523da50834b8\",\"login\":\"skateinmars\"},\"mirror_url\":null,\"description\":\"Validation on URL attributes for ActiveRecord models.\",\"pushed_at\":\"2012-06-19T16:10:02Z\",\"forks\":0,\"open_issues\":0,\"clone_url\":\"https://github.com/skateinmars/has_url.git\",\"updated_at\":\"2012-09-13T23:13:23Z\",\"forks_count\":0,\"git_url\":\"git://github.com/skateinmars/has_url.git\",\"svn_url\":\"https://github.com/skateinmars/has_url\",\"size\":96,\"fork\":false,\"network_count\":0,\"language\":\"Ruby\",\"has_downloads\":true,\"full_name\":\"skateinmars/has_url\",\"name\":\"has_url\",\"master_branch\":\"master\",\"watchers_count\":1,\"_links\":{\"self\":{\"href\":\"https://api.github.com/repos/skateinmars/has_url\"}},\"html_url\":\"https://github.com/skateinmars/has_url\",\"private\":false,\"id\":4714753,\"homepage\":null}"
  recorded_at: Mon, 22 Oct 2012 15:11:45 GMT
- request: 
    method: get
    uri: https://api.github.com/repos/skateinmars/has_url/contributors?anon=false
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-github-media-type: 
      - github.beta
      last-modified: 
      - Thu, 13 Sep 2012 23:13:23 GMT
      x-ratelimit-limit: 
      - "5000"
      etag: 
      - "\"a6b92d120f7665c49e0803fdf8a0ffd2\""
      x-ratelimit-remaining: 
      - "4407"
    body: 
      encoding: ASCII-8BIT
      string: "[{\"url\":\"https://api.github.com/users/skateinmars\",\"_links\":{\"self\":{\"href\":\"https://api.github.com/users/skateinmars\"}},\"avatar_url\":\"https://secure.gravatar.com/avatar/53d6845ee2656b1ef581523da50834b8?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"id\":14015,\"contributions\":7,\"gravatar_id\":\"53d6845ee2656b1ef581523da50834b8\",\"login\":\"skateinmars\"}]"
  recorded_at: Mon, 22 Oct 2012 15:11:46 GMT
- request: 
    method: get
    uri: https://api.github.com/users/skateinmars
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-ratelimit-remaining: 
      - "4406"
      x-ratelimit-limit: 
      - "5000"
      x-github-media-type: 
      - github.beta
      etag: 
      - "\"396f16a31bda7939ce63d9b5891d6e0f\""
      last-modified: 
      - Sat, 20 Oct 2012 16:52:35 GMT
    body: 
      encoding: ASCII-8BIT
      string: "{\"type\":\"User\",\"company\":\"Pickabee\",\"created_at\":\"2008-06-17T08:49:38Z\",\"url\":\"https://api.github.com/users/skateinmars\",\"avatar_url\":\"https://secure.gravatar.com/avatar/53d6845ee2656b1ef581523da50834b8?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"_links\":{\"self\":{\"href\":\"https://api.github.com/users/skateinmars\"}},\"blog\":\"http://www.skateinmars.net\",\"email\":\"jp@skateinmars.net\",\"public_gists\":8,\"following\":7,\"location\":\"Marseille, France\",\"name\":\"Jean-Philippe Moal\",\"hireable\":true,\"public_repos\":8,\"html_url\":\"https://github.com/skateinmars\",\"id\":14015,\"followers\":4,\"bio\":\"Ruby on Rails developper and Web Technician at Pickabee\",\"gravatar_id\":\"53d6845ee2656b1ef581523da50834b8\",\"login\":\"skateinmars\"}"
  recorded_at: Mon, 22 Oct 2012 15:11:47 GMT
- request: 
    method: get
    uri: https://api.github.com/repos/iain/roundsman
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-ratelimit-remaining: 
      - "38"
      x-ratelimit-limit: 
      - "60"
      last-modified: 
      - Sun, 21 Oct 2012 18:22:20 GMT
      etag: 
      - "\"4ed2b35a003010e39494[...]
- request: 
    method: get
    uri: https://api.github.com/repos/iain/roundsman/contributors?anon=false
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-ratelimit-remaining: 
      - "37"
      x-ratelimit-limit: 
      - "60"
      last-modified: 
      - Sun, 21 Oct 2012 18:22:20 GMT
      etag: 
      -[...]
- request: 
    method: get
    uri: https://api.github.com/users/iain
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-github-media-type: 
      - github.beta
      x-ratelimit-remaining: 
      - "36"
      etag: 
      - "\"b83bb258242e0aa658184f605515be7c\""
      last-modified: 
      - Tue, 16 Oct 201[...]
- request: 
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Netherlands&sensor=false
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=UTF-8
    body: 
      encoding: US-ASCII
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "The Netherlands",
                       "short_name" : "NL",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "The Netherlands",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 53.55602130,
                          "lng" : 7.227510199999999
                       },
                       "southwest" : {
                          "lat" : 50.75038379999999,
                          "lng" : 3.3579620
                       }
                    },
                    "location" : {
                       "lat" : 52.1326330,
                       "lng" : 5.291265999999999
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 53.67560,
                          "lng" : 7.227140500000001
                       },
                       "southwest" : {
                          "lat" : 50.75038370,
                          "lng" : 3.33160
                       }
                    }
                 },
                 "types" : [ "country", "political" ]
              }
           ],
           "status" : "OK"
        }

  recorded_at: Tue, 23 Oct 2012 10:16:08 GMT
- request: 
    method: get
    uri: https://api.github.com/users/mikesmullin
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-ratelimit-remaining: 
      - "35"
      x-github-media-type: 
      - github.beta
      last-modified: 
      - Mon, 22 Oct 2012 20:29:06 GMT
      etag: 
      - "\"1e8c998290e9d5e5949f2339ebde5f8d\""
      x-ratelimit-limit: 
      - "60"
    body: 
      encoding: ASCII-8BIT
      string: "{\"public_gists\":26,\"created_at\":\"2009-07-18T03:26:41Z\",\"type\":\"User\",\"gravatar_id\":\"bda7008056d4a2175ff046fde7fc0d72\",\"public_repos\":66,\"company\":\"Smullin Design and Development, LLC\",\"email\":\"mike@smullindesign.com\",\"html_url\":\"https://github.com/mikesmullin\",\"hireable\":false,\"following\":1,\"avatar_url\":\"https://secure.gravatar.com/avatar/bda7008056d4a2175ff046fde7fc0d72?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"location\":\"Eagle Mountain, Utah, USA\",\"bio\":null,\"name\":\"Mike Smullin\",\"followers\":12,\"url\":\"https://api.github.com/users/mikesmullin\",\"id\":106222,\"login\":\"mikesmullin\",\"blog\":\"http://www.mikesmullin.com/\",\"_links\":{\"self\":{\"href\":\"https://api.github.com/users/mikesmullin\"}}}"
  recorded_at: Tue, 23 Oct 2012 10:16:08 GMT
- request: 
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Eagle+Mountain%2C+Utah%2C+USA&sensor=false
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=UTF-8
    body: 
      encoding: US-ASCII
      string: |
        {
           "results" : [
              {
                 "address_components" : [
               [...]
- request: 
    method: get
    uri: https://api.github.com/users/Flamefork
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-ratelimit-remaining: 
      - "34"
      x-ratelimit-limit: 
      - "60"
      x-github-media-type: 
      - github.beta
      etag: 
      - "\"6ca7e3c4561218e34502e0abd3205c81\""
      last-modified: 
      - Tue, 23 Oct 2012 09:20:36 GMT
    body: 
      encoding: ASCII-8BIT
      string: "{\"type\":\"User\",\"followers\":10,\"hireable\":false,\"blog\":\"http://flamefork.ru/\",\"bio\":\"\",\"avatar_url\":\"https://secure.gravatar.com/avatar/932692cadb44bf3720b5e439c6498d6a?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"_links\":{\"self\":{\"href\":\"https://api.github.com/users/Flamefork\"}},\"gravatar_id\":\"932692cadb44bf3720b5e439c6498d6a\",\"login\":\"Flamefork\",\"company\":\"Cloud Castle\",\"created_at\":\"2008-08-10T21:22:47Z\",\"public_repos\":7,\"public_gists\":7,\"following\":0,\"name\":\"Ilia Ablamonov\",\"location\":\"Samara, Russia\",\"url\":\"https://api.github.com/users/Flamefork\",\"id\":20203,\"html_url\":\"https://github.com/Flamefork\",\"email\":\"ilia@flamefork.ru\"}"
  recorded_at: Tue, 23 Oct 2012 10:16:09 GMT
- request: 
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Samara%2C+Russia&sensor=false
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=UTF-8
    body: 
      encoding: US-ASCII
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
      [...]
- request: 
    method: get
    uri: https://api.github.com/repos/iain/roundsman/issues
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-ratelimit-remaining: 
      - "33"
      x-github-media-type: 
      - github.beta
      last-modified: 
      - Tue, 23 Oct 2012 09:20:36 GMT
      etag: 
      - "\"6ca7e3c4561218e34502e0abd3205c81\""
      x-ratelimit-limit: 
      - "60"
    body: 
      encoding: ASCII-8BIT
      string: "[{\"created_at\":\"2012-08-20T09:36:47Z\",\"comments\":3,\"title\":\"Use Ruby apt package instead of compiling from source\",\"pull_request\":{\"diff_url\":null,\"html_url\":null,\"patch_url\":null},\"closed_at\":null,\"assignee\":null,\"number\":7,\"html_url\":\"https://github.com/iain/roundsman/issues/7\",\"updated_at\":\"2012-09-01T16:16:31Z\",\"milestone\":null,\"state\":\"open\",\"labels\":[],\"id\":6321470,\"url\":\"https://api.github.com/repos/iain/roundsman/issues/7\",\"body\":\"Why is there are requirement for 1.9.2-p192?\\n\\nThere is a package on aptitude with 1.9.2p0. I've used this and it works. Compiling from source takes forever.\\n\\nFrom http://www.ruby-lang.org/en/downloads/\\n\\n> Debian GNU/Linux uses the apt package manager system. (So does Ubuntu.) You can use it like this:\\n> \\n> $ sudo apt-get install ruby1.9.1\\n> Yes, this will install Ruby 1.9.2. It has a \xE2\x80\x98library compatibility version\xE2\x80\x99 of 1.9.1, hence the name.\",\"user\":{\"gravatar_id\":\"de54fa84f07f7200da5a1eb090ec717a\",\"avatar_url\":\"https://secure.gravatar.com/avatar/de54fa84f07f7200da5a1eb090ec717a?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"url\":\"https://api.github.com/users/vjpr\",\"id\":281413,\"login\":\"vjpr\",\"_links\":{\"self\":{\"href\":\"https://api.github.com/users/vjpr\"}}}},{\"created_at\":\"2012-08-20T08:02:24Z\",\"comments\":2,\"title\":\"/Library/Ruby/Gems/1.8/gems/roundsman-0.1.0/lib/[...]
