--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.github.com/repos/rails/rails
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      etag: 
      - "\"8ec4536a3a013d13b8bab215f16bb811\""
      x-ratelimit-limit: 
      - "60"
      last-modified: 
      - Sat, 20 Oct 2012 12:56:33 GMT
      x-github-media-type: 
      - github.beta
      x-ratelimit-remaining: 
      - "59"
    body: 
      encoding: ASCII-8BIT
      string: "{\"watchers\":16302,\"ssh_url\":\"git@github.com:rails/rails.git\",\"forks_count\":4107,\"created_at\":\"2008-04-11T02:19:47Z\",\"url\":\"https://api.github.com/repos/rails/rails\",\"html_url\":\"https://github.com/rails/rails\",\"owner\":{\"url\":\"https://api.github.com/users/rails\",\"avatar_url\":\"https://secure.gravatar.com/avatar/30f39a09e233e8369dddf6feb4be0308?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-org-420.png\",\"_links\":{\"self\":{\"href\":\"https://api.github.com/users/rails\"}},\"id\":4223,\"gravatar_id\":\"30f39a09e233e8369dddf6feb4be0308\",\"login\":\"rails\"},\"network_count\":4107,\"has_wiki\":false,\"description\":\"Ruby on Rails\",\"master_branch\":\"master\",\"pushed_at\":\"2012-10-20T01:27:45Z\",\"has_issues\":true,\"forks\":4107,\"clone_url\":\"https://github.com/rails/rails.git\",\"organization\":{\"url\":\"https://api.github.com/users/rails\",\"avatar_url\":\"https://secure.gravatar.com/avatar/30f39a09e233e8369dddf6feb4be0308?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-org-420.png\",\"_links\":{\"self\":{\"href\":\"https://api.github.com/users/rails\"}},\"id\":4223,\"gravatar_id\":\"30f39a09e233e8369dddf6feb4be0308\",\"login\":\"rails\"},\"open_issues\":396,\"_links\":{\"self\":{\"href\":\"https://api.github.com/repos/rails/rails\"}},\"updated_at\":\"2012-10-20T12:56:33Z\",\"git_url\":\"git://github.com/rails/rails.git\",\"size\":88252,\"fork\":false,\"svn_url\":\"https://github.com/rails/rails\",\"watchers_count\":16302,\"language\":\"Ruby\",\"mirror_url\":null,\"full_name\":\"rails/rails\",\"name\":\"rails\",\"has_downloads\":true,\"private\":false,\"id\":8514,\"homepage\":\"http://rubyonrails.org\",\"open_issues_count\":396}"
  recorded_at: Sat, 20 Oct 2012 13:01:04 GMT
- request: 
    method: get
    uri: https://api.github.com/repos/rails/django
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 404
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 404 Not Found
      x-ratelimit-limit: 
      - "60"
      x-github-media-type: 
      - github.beta
      x-ratelimit-remaining: 
      - "58"
    body: 
      encoding: ASCII-8BIT
      string: "{\"message\":\"Not Found\"}"
  recorded_at: Sat, 20 Oct 2012 13:01:05 GMT
- request: 
    method: get
    uri: https://api.github.com/repos/rails/acts_as_tree
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-github-media-type: 
      - github.beta
      etag: 
      - "\"2df32afd54efe8b497dc1838772c4852\""
      last-modified: 
      - Tue, 16 Oct 2012 13:59:12 GMT
      x-rateli[...]
- request: 
    method: get
    uri: https://api.github.com/repos/rails/acts_as_tree/contributors?anon=false
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      etag: 
      - "\"2df32afd54efe8b497dc1838772c4852\""
      x-github-media-type: 
      - github.beta
      x-ratelimit-remaining: 
      - "49"
      x-ratelimit-limit: 
      - "60"
      last-modified: 
      - Tue, 16 Oct 2012 13:59:12 GMT
    body: 
      encoding: ASCII-8BIT
      string: "[{\"url\":\"https://api.github.com/users/jeremy\",\"_links\":{\"self\":{\"href\":\"https://api.github.com/users/jeremy\"}},\"avatar_url\":\"https://secure.gravatar.com/avatar/24d2f8804e6bb4b7ea6bd11e0a586470?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"id\":199,\"contributions\":3,\"gravatar_id\":\"24d2f8804e6bb4b7ea6bd11e0a586470\",\"login\":\"jeremy\"},{\"url\":\"https://api.github.com/users/dhh\",\"_links\":{\"self\":{\"href\":\"https://api.github.com/users/dhh\"}},\"avatar_url\":\"https://secure.gravatar.com/avatar/ed9635566b34ade32274f510f0f9a6d2?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"id\":2741,\"contributions\":1,\"gravatar_id\":\"ed9635566b34ade32274f510f0f9a6d2\",\"login\":\"dhh\"}]"
  recorded_at: Sat, 20 Oct 2012 18:04:18 GMT
- request: 
    method: get
    uri: https://api.github.com/users/jeremy
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      etag: 
      - "\"4c715bf682c4b0f12af77852c91b3a19\""
      last-modified: 
      - Tue, 16 Oct 2012 01:39:38 GMT
      x-ratelimit-limit: 
      - "60"
      x-github-media-type: 
      - github.beta
      x-ratelimit-remaining: 
      - "48"
    body: 
      encoding: ASCII-8BIT
      string: "{\"type\":\"User\",\"company\":\"37signals\",\"html_url\":\"https://github.com/jeremy\",\"created_at\":\"2008-02-13T03:02:19Z\",\"bio\":null,\"url\":\"https://api.github.com/users/jeremy\",\"email\":\"jeremy@bitsweat.net\",\"public_repos\":49,\"following\":123,\"_links\":{\"self\":{\"href\":\"https://api.github.com/users/jeremy\"}},\"public_gists\":29,\"blog\":\"http://bitsweat.net\",\"location\":\"Tempe, AZ\",\"name\":\"Jeremy Kemper\",\"avatar_url\":\"https://secure.gravatar.com/avatar/24d2f8804e6bb4b7ea6bd11e0a586470?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"id\":199,\"followers\":398,\"hireable\":false,\"gravatar_id\":\"24d2f8804e6bb4b7ea6bd11e0a586470\",\"login\":\"jeremy\"}"
  recorded_at: Sat, 20 Oct 2012 18:04:19 GMT
- request: 
    method: get
    uri: https://api.github.com/users/dhh
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-github-media-type: 
      - github.beta
      etag: 
      - "\"fe4ff951e886e75310d070f23b4b3d81\""
      x-ratelimit-limit: 
      - "60"
      last-modified: 
      - Tue, 16 Oct 2012 01:41:02 GMT
      x-ratelimit-remaining: 
      - "47"
    body: 
      encoding: ASCII-8BIT
      string: "{\"type\":\"User\",\"company\":\"37signals\",\"created_at\":\"2008-03-10T17:53:51Z\",\"bio\":null,\"url\":\"https://api.github.com/users/dhh\",\"blog\":\"http://www.loudthinking.com\",\"email\":\"david@loudthinking.com\",\"avatar_url\":\"https://secure.gravatar.com/avatar/ed9635566b34ade32274f510f0f9a6d2?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"_links\":{\"self\":{\"href\":\"https://api.github.com/users/dhh\"}},\"public_gists\":26,\"following\":0,\"location\":\"Chicago, USA\",\"name\":\"David Heinemeier Hansson\",\"public_repos\":13,\"html_url\":\"https://github.com/dhh\",\"id\":2741,\"followers\":3441,\"hireable\":false,\"gravatar_id\":\"ed9635566b34ade32274f510f0f9a6d2\",\"login\":\"dhh\"}"
  recorded_at: Sat, 20 Oct 2012 18:04:20 GMT
[...]
