--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.github.com/repos/rails/rails
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      etag: 
      - "\"8ec4536a3a013d13b8bab215f16bb811\""
      x-ratelimit-limit: 
      - "60"
      last-modified: 
      - Sat, 20 Oct 2012 12:56:33 GMT
      x-github-media-type: 
      - github.beta
      x-ratelimit-remaining: 
      - "59"
    body: 
      encoding: ASCII-8BIT
      string: "{\"watchers\":16302,\"ssh_url\":\"git@github.com:rails/rails.git\",\"forks_count\":4107,\"created_at\":\"2008-04-11T02:19:47Z\",\"url\":\"https://api.github.com/repos/rails/rails\",\"html_url\":\"https://github.com/rails/rails\",\"owner\":{\"url\":\"https://api.github.com/users/rails\",\"avatar_url\":\"https://secure.gravatar.com/avatar/30f39a09e233e8369dddf6feb4be0308?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-org-420.png\",\"_links\":{\"self\":{\"href\":\"https://api.github.com/users/rails\"}},\"id\":4223,\"gravatar_id\":\"30f39a09e233e8369dddf6feb4be0308\",\"login\":\"rails\"},\"network_count\":4107,\"has_wiki\":false,\"description\":\"Ruby on Rails\",\"master_branch\":\"master\",\"pushed_at\":\"2012-10-20T01:27:45Z\",\"has_issues\":true,\"forks\":4107,\"clone_url\":\"https://github.com/rails/rails.git\",\"organization\":{\"url\":\"https://api.github.com/users/rails\",\"avatar_url\":\"https://secure.gravatar.com/avatar/30f39a09e233e8369dddf6feb4be0308?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-org-420.png\",\"_links\":{\"self\":{\"href\":\"https://api.github.com/users/rails\"}},\"id\":4223,\"gravatar_id\":\"30f39a09e233e8369dddf6feb4be0308\",\"login\":\"rails\"},\"open_issues\":396,\"_links\":{\"self\":{\"href\":\"https://api.github.com/repos/rails/rails\"}},\"updated_at\":\"2012-10-20T12:56:33Z\",\"git_url\":\"git://github.com/rails/rails.git\",\"size\":88252,\"fork\":false,\"svn_url\":\"https://github.com/rails/rails\",\"watchers_count\":16302,\"language\":\"Ruby\",\"mirror_url\":null,\"full_name\":\"rails/rails\",\"name\":\"rails\",\"has_downloads\":true,\"private\":false,\"id\":8514,\"homepage\":\"http://rubyonrails.org\",\"open_issues_count\":396}"
  recorded_at: Sat, 20 Oct 2012 13:01:04 GMT
- request: 
    method: get
    uri: https://api.github.com/repos/rails/django
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 404
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 404 Not Found
      x-ratelimit-limit: 
      - "60"
      x-github-media-type: 
      - github.beta
      x-ratelimit-remaining: 
      - "58"
    body: 
      encoding: ASCII-8BIT
      string: "{\"message\":\"Not Found\"}"
  recorded_at: Sat, 20 Oct 2012 13:01:05 GMT
recorded_with: VCR 2.2.5
