--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.github.com/repos/iain/roundsman
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-github-media-type: 
      - github.beta
      x-ratelimit-remaining: 
      - "4877"
      x-ratelimit-limit: 
      - "5000"
      last-modified: 
      - Sun, 21 Oct 2012 18:22:20 GMT
      etag: 
      - "\"4ed2b35a003010e39494605ab5e9c47d\""
    body: 
      encoding: ASCII-8BIT
      string: "{\"network_count\":15,\"created_at\":\"2012-04-16T12:23:49Z\",\"has_wiki\":true,\"_links\":{\"self\":{\"href\":\"https://api.github.com/repos/iain/roundsman\"}},\"watchers_count\":141,\"description\":\"\",\"owner\":{\"_links\":{\"self\":{\"href\":\"https://api.github.com/users/iain\"}},\"gravatar_id\":\"42ec9fd08c179b547dcb60d977e29941\",\"avatar_url\":\"https://secure.gravatar.com/avatar/42ec9fd08c179b547dcb60d977e29941?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"url\":\"https://api.github.com/users/iain\",\"id\":12692,\"login\":\"iain\"},\"master_branch\":\"master\",\"pushed_at\":\"2012-07-06T20:17:32Z\",\"mirror_url\":null,\"forks\":15,\"open_issues\":5,\"ssh_url\":\"git@github.com:iain/roundsman.git\",\"open_issues_count\":5,\"svn_url\":\"https://github.com/iain/roundsman\",\"watchers\":141,\"updated_at\":\"2012-10-21T18:22:20Z\",\"clone_url\":\"https://github.com/iain/roundsman.git\",\"size\":136,\"language\":\"Ruby\",\"has_downloads\":true,\"fork\":false,\"html_url\":\"https://github.com/iain/roundsman\",\"full_name\":\"iain/roundsman\",\"name\":\"roundsman\",\"homepage\":\"\",\"forks_count\":15,\"url\":\"https://api.github.com/repos/iain/roundsman\",\"private\":false,\"id\":4040531,\"git_url\":\"git://github.com/iain/roundsman.git\",\"has_issues\":true}"
  recorded_at: Tue, 23 Oct 2012 10:51:32 GMT
- request: 
    method: get
    uri: https://api.github.com/repos/iain/roundsman/contributors?anon=false
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-ratelimit-remaining: 
      - "4876"
      x-ratelimit-limit: 
      - "5000"
      last-modified: 
      - Sun, 21 Oct 2012 18:22:20 GMT
      etag: 
      - "\"4ed2b35a003010e39494605ab5e9c47d\""
      x-github-media-type: 
      - github.beta
    body: 
      encoding: ASCII-8BIT
      string: "[{\"contributions\":17,\"gravatar_id\":\"42ec9fd08c179b547dcb60d977e29941\",\"_links\":{\"self\":{\"href\":\"https://api.github.com/users/iain\"}},\"url\":\"https://api.github.com/users/iain\",\"id\":12692,\"login\":\"iain\",\"avatar_url\":\"https://secure.gravatar.com/avatar/42ec9fd08c179b547dcb60d977e29941?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\"},{\"contributions\":2,\"gravatar_id\":\"bda7008056d4a2175ff046fde7fc0d72\",\"_links\":{\"self\":{\"href\":\"https://api.github.com/users/mikesmullin\"}},\"url\":\"https://api.github.com/users/mikesmullin\",\"id\":106222,\"login\":\"mikesmullin\",\"avatar_url\":\"https://secure.gravatar.com/avatar/bda7008056d4a2175ff046fde7fc0d72?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\"},{\"contributions\":1,\"gravatar_id\":\"932692cadb44bf3720b5e439c6498d6a\",\"_links\":{\"self\":{\"href\":\"https://api.github.com/users/Flamefork\"}},\"url\":\"https://api.github.com/users/Flamefork\",\"id\":20203,\"login\":\"Flamefork\",\"avatar_url\":\"https://secure.gravatar.com/avatar/932692cadb44bf3720b5e439c6498d6a?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\"}]"
  recorded_at: Tue, 23 Oct 2012 10:51:33 GMT
recorded_with: VCR 2.2.5
