--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.github.com/repos/rails/acts_as_list/contributors?anon=false
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-github-media-type: 
      - github.beta
      x-ratelimit-limit: 
      - "5000"
      etag: 
      - "\"bae1ea89d9157d8e5667b784c745cac4\""
      last-modified: 
      - Sun, 21 Oct 2012 14:34:42 GMT
      x-ratelimit-remaining: 
      - "4445"
    body: 
      encoding: ASCII-8BIT
      string: "[{\"url\":\"https://api.github.com/users/jeremy\",\"avatar_url\":\"https://secure.gravatar.com/avatar/24d2f8804e6bb4b7ea6bd11e0a586470?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"_links\":{\"self\":{\"href\":\"https://api.github.com/users/jeremy\"}},\"id\":199,\"contributions\":4,\"gravatar_id\":\"24d2f8804e6bb4b7ea6bd11e0a586470\",\"login\":\"jeremy\"},{\"url\":\"https://api.github.com/users/NZKoz\",\"avatar_url\":\"https://secure.gravatar.com/avatar/efa76b164a7de4a5730e4fa397cc4425?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"_links\":{\"self\":{\"href\":\"https://api.github.com/users/NZKoz\"}},\"id\":197,\"contributions\":3,\"gravatar_id\":\"efa76b164a7de4a5730e4fa397cc4425\",\"login\":\"NZKoz\"},{\"url\":\"https://api.github.com/users/pixeltrix\",\"avatar_url\":\"https://secure.g[...]
- request: 
    method: get
    uri: https://api.github.com/users/jeremy
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-ratelimit-limit: 
      - "5000"
      x-ratelimit-remaining: 
      - "4444"
      last-modified: 
      - Tue, 16 Oct 2012 01:39:38 GMT
      x-github-media-type: 
      - github.beta
      etag: 
      - "\"4c715bf682c4b0f12af77852c91b3a19\""
    body: 
      encoding: ASCII-8BIT
      string: "{\"type\":\"User\",\"company\":\"37signals\",\"bio\":null,\"html_url\":\"https://github.com/jeremy\",\"created_at\":\"2008-02-13T03:02:19Z\",\"url\":\"https://api.github.com/users/jeremy\",\"avatar_url\":\"https://secure.gravatar.com/avatar/24d2f8804e6bb4b7ea6bd11e0a586470?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"_links\":{\"self\":{\"href\":\"https://api.github.com/users/jeremy\"}},\"email\":\"jeremy@bitsweat.net\",\"public_repos\":49,\"public_gists\":29,\"following\":123,\"blog\":\"http://bitsweat.net\",\"location\":\"Tempe, AZ\",\"name\":\"Jeremy Kemper\",\"hireable\":false,\"id\":199,\"followers\":399,\"gravatar_id\":\"24d2f8804e6bb4b7ea6bd11e0a586470\",\"login\":\"jeremy\"}"
  recorded_at: Mon, 22 Oct 2012 15:11:22 GMT
- request: 
    method: get
    uri: https://api.github.com/users/NZKoz
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-ratelimit-remaining: 
      - "4443"
      x-ratelimit-limit: 
      - "5000"
      x-github-media-type: 
      - github.beta
      etag: 
      - "\"4c715bf682c4b0f12af77852c91b3a19\""
      last-modified: 
      - Tue, 16 Oct 2012 01:39:38 GMT
    body: 
      encoding: ASCII-8BIT
      string: "{\"type\":\"User\",\"company\":\"Southgate Labs\",\"created_at\":\"2008-02-13T02:35:58Z\",\"url\":\"https://api.github.com/users/NZKoz\",\"avatar_url\":\"https://secure.gravatar.com/avatar/efa76b164a7de4a5730e4fa397cc4425?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"_links\":{\"self\":{\"href\":\"https://api.github.com/users/NZKoz\"}},\"blog\":\"http://www.koziarski.net/\",\"email\":\"michael@koziarski.com\",\"public_gists\":56,\"following\":1,\"location\":\"Wellington, New Zealand\",\"name\":\"Michael Koziarski\",\"hireable\":false,\"public_repos\":26,\"html_url\":\"https://github.com/NZKoz\",\"id\":197,\"followers\":212,\"bio\":null,\"gravatar_id\":\"efa76b164a7de4a5730e4fa397cc4425\",\"login\":\"NZKoz\"}"
  recorded_at: Mon, 22 Oct 2012 15:11:23 GMT
- request: 
    method: get
    uri: https://api.github.com/users/pixeltrix
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-github-media-type: 
      - github.beta
      x-ratelimit-remaining: 
      - "4442"
      x-ratelimit-limit: 
      - "5000"
      etag: 
      - "\"82d9da70e2240f4fd6f691e792242036\""
      last-modified: 
      - Tue, 16 Oct 2012 01:43:02 GMT
    body: 
      encoding: ASCII-8BIT
      string: "{\"type\":\"User\",\"company\":\"Pixeltrix\",\"html_url\":\"https://github.com/pixeltrix\",\"created_at\":\"2008-04-10T21:36:37Z\",\"url\":\"https://api.github.com/users/pixeltrix\",\"email\":\"andyw@pixeltrix.co.uk\",\"_links\":{\"self\":{\"href\":\"https://api.github.com/users/pixeltrix\"}},\"public_repos\":49,\"following\":0,\"public_gists\":27,\"blog\":\"www.pixeltrix.co.uk\",\"location\":\"Coventry, UK\",\"avatar_url\":\"https://secure.gravatar.com/avatar/b14001f2b40640dd6cb63f0e8f1f4869?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"name\":\"Andrew White\",\"hireable\":false,\"id\":6321,\"followers\":32,\"bio\":null,\"gravatar_id\":\"b14001f2b40640dd6cb63f0e8f1f4869\",\"login\":\"pixeltrix\"}"
  recorded_at: Mon, 22 Oct 2012 15:11:24 GMT
- request: 
    method: get
    uri: https://api.github.com/users/dhh
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      last-modified: 
      - Tue, 16 Oct 2012 01:41:02 GMT
      x-ratelimit-limit: 
      - "5000"
      etag: 
      - "\"fe4ff951e886e75310d070f23b4b3d81\""
      x-ratelimit-remaining: 
      - "4441"
      x-github-media-type: 
      - github.beta
    body: 
      encoding: ASCII-8BIT
      string: "{\"type\":\"User\",\"company\":\"37signals\",\"public_repos\":13,\"created_at\":\"2008-03-10T17:53:51Z\",\"url\":\"https://api.github.com/users/dhh\",\"_links\":{\"self\":{\"href\":\"https://api.github.com/users/dhh\"}},\"email\":\"david@loudthinking.com\",\"blog\":\"http://www.loudthinking.com\",\"following\":0,\"avatar_url\":\"https://secure.gravatar.com/avatar/ed9635566b34ade32274f510f0f9a6d2?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"location\":\"Chicago, USA\",\"hireable\":false,\"name\":\"David Heinemeier Hansson\",\"public_gists\":26,\"html_url\":\"https://github.com/dhh\",\"bio\":null,\"id\":2741,\"followers\":3446,\"gravatar_id\":\"ed9635566b34ade32274f510f0f9a6d2\",\"login\":\"dhh\"}"
  recorded_at: Mon, 22 Oct 2012 15:11:24 GMT
- request: 
    method: get
    uri: https://api.github.com/users/mkdynamic
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-github-media-type: 
      - github.beta
      x-ratelimit-remaining: 
      - "4440"
      x-ratelimit-limit: 
      - "5000"
      etag: 
      - "\"a59fbff0f2367c43dc21e8e1518bd17c\""
      last-modified: 
      - Mon, 22 Oct 2012 07:09:13 GMT
    body: 
      encoding: ASCII-8BIT
      string: "{\"type\":\"User\",\"company\":\"Mixbook\",\"html_url\":\"https://github.com/mkdynamic\",\"created_at\":\"2008-04-02T19:07:35Z\",\"url\":\"https://api.github.com/users/mkdynamic\",\"email\":\"mark@madeofcode.com\",\"_links\":{\"self\":{\"href\":\"https://api.github.com/users/mkdynamic\"}},\"public_repos\":66,\"following\":13,\"public_gists\":26,\"blog\":\"madeofcode.com\",\"location\":\"Palo Alto, CA\",\"avatar_url\":\"https://secure.gravatar.com/avatar/e7d425eb75982fddc0438b8420c93189?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"name\":\"Mark Dodwell\",\"hireable\":false,\"id\":4312,\"followers\":49,\"bio\":\"\",\"gravatar_id\":\"e7d425eb75982fddc0438b8420c93189\",\"login\":\"mkdynamic\"}"
  recorded_at: Mon, 22 Oct 2012 15:11:25 GMT
[...]
- request: 
    method: get
    uri: https://api.github.com/users/mkdynamic
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json; charset=utf-8
      status: 
      - 200 OK
      x-ratelimit-limit: 
      - "5000"
      x-ratelimit-remaining: 
      - "4410"
      last-modified: 
      - Mon, 22 Oct 2012 07:09:13 GMT
      x-github-media-type: 
      - github.beta
      etag: 
      - "\"a59fbff0f2367c43dc21e8e1518bd17c\""
    body: 
      encoding: ASCII-8BIT
      string: "{\"type\":\"User\",\"company\":\"Mixbook\",\"bio\":\"\",\"html_url\":\"https://github.com/mkdynamic\",\"created_at\":\"2008-04-02T19:07:35Z\",\"url\":\"https://api.github.com/users/mkdynamic\",\"avatar_url\":\"https://secure.gravatar.com/avatar/e7d425eb75982fddc0438b8420c93189?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png\",\"_links\":{\"self\":{\"href\":\"https://api.github.com/users/mkdynamic\"}},\"email\":\"mark@madeofcode.com\",\"public_repos\":66,\"public_gists\":26,\"following\":13,\"blog\":\"madeofcode.com\",\"location\":\"Palo Alto, CA\",\"name\":\"Mark Dodwell\",\"hireable\":false,\"id\":4312,\"followers\":49,\"gravatar_id\":\"e7d425eb75982fddc0438b8420c93189\",\"login\":\"mkdynamic\"}"
  recorded_at: Mon, 22 Oct 2012 15:11:44 GMT
recorded_with: VCR 2.2.5
